<h1 class="page-header">Register page</h1>

<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<form [formGroup]="form"
      (submit)="onRegisterSubmit()">
  <div class="form-group">

    <label for="email">Email address</label>
    <div
      [ngClass]="{'has-danger':(form.controls.email.errors && form.controls.email.dirty) || (!emailValid && form.controls.email.dirty) , 'has-success': !form.controls.email.errors && emailValid}">
      <input type="text"
             class="form-control"
             name="email"
             autocomplete="off"
             placeholder="Enter email"
             formControlName="email"
             (blur)="checkEmail()">
      <ul class="help-block">
        <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">
          This field is required
        </li>
        <li *ngIf="form.controls.email.errors?.minlength || form.controls.email.errors?.maxlength">
          characters mut be between 4 and 30
        </li>
        <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">
          Enter a valid email please
        </li>
        <li *ngIf="emailMessage">
          {{emailMessage}}
        </li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label>Username</label>
    <div
      [ngClass]="{'has-error':(form.controls.username.errors && form.controls.username.dirty) || (!usernameValid && form.controls.username.dirty) , 'has-success': !form.controls.username.errors && !form.errors?.matchingPasswords && usernameValid}">
      <input type="text"
             class="form-control"
             name="username"
             aria-describedby="emailHelp"
             placeholder="Enter username"
             formControlName="username"
             (blur)="checkUsername()">
      <ul class="help-block">
        <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">
          This field is required
        </li>
        <li *ngIf="form.controls.username.errors?.minlength || form.controls.username.errors?.maxlength">
          characters mut be between 3 and 15
        </li>
        <li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">
          Enter a valid username please
        </li>
        <li *ngIf="usernameMessage">
          {{usernameMessage}}
        </li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <div
      [ngClass]="{'has-danger':(form.controls.password.errors && form.controls.password.dirty) , 'has-success': !form.controls.password.errors}">
      <input type="password"
             class="form-control"
             name="password"
             placeholder="Password"
             formControlName="password">
      <div class="has-danger">
        <ul class="help-block">
          <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">
            This field is required
          </li>
          <li *ngIf="form.controls.password.errors?.minlength || form.controls.password.errors?.maxlength">
            not less than 8 and not more than 35 characters
          </li>
          <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">
            Enter a valid password please
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Confirm password</label>
    <div
      [ngClass]="{'has-danger':(form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty) , 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
      <input type="password"
             class="form-control"
             name="confirm"
             placeholder="Confirm Password"
             formControlName="confirm">
      <ul class="help-block">
        <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">
          This field is required
        </li>
        <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Passwords do not match</li>
      </ul>
    </div>
  </div>
  <button [disabled]="!form.valid || processing || !emailValid || !usernameValid"
          type="submit"
          class="btn btn-primary">
    Submit
  </button>
</form>


<!--<p>Username: {{ form.controls.username.value }}</p>-->

<!--<p>Username: {{ form.controls.email.value }}</p>-->
