<h2 class="page-header">Login</h2>

<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>

</div>

<form [formGroup]="form" (submit)="onLoginSubmit()">
  <div class="form-group">
    <label for="username">Username</label>
    <div
      [ngClass]="{'has-danger': form.controls.username.errors && form.controls.username.dirty, 'has-success': form.controls.username.valid && form.controls.username.dirty}">
      <input type="text" class="form-control" name="username" formControlName="username" aria-describedby="emailHelp"
             placeholder="Enter username">
      <ul class="help-block">
        <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">
          This field is required !
        </li>
      </ul>
    </div>

  </div>


  <div class="form-group">
    <label for="password">Password</label>
    <div
      [ngClass]="{'has-danger':form.controls.password.errors && form.controls.password.dirty, 'has-success':form.controls.password.valid && form.controls.password.dirty}">
      <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password">
      <ul class="help-block">
        <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">
          This field is required !
        </li>
      </ul>
    </div>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <input [disabled]="!form.valid || processing" class="btn btn-primary" type="submit" value="Login"/>
</form>
