<h1 class="page-header">Blog feed</h1>


<div class="row show-hide-message" *ngIf="message && newPost">
<div [ngClass]="messageClass">
{{message}}
</div>
</div>


<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newBlogForm()">New Post</button>
<button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-default" *ngIf="!newPost"
        (click)="reloadBlogs()"><i
  class="fas fa-sync-alt"></i>&nbsp;&nbsp;Reload
</button>
<br>
<br>
<!-- New Blog Form -->

<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
  <div class="form-group">
    <!-- title -->
    <label for="title">Title</label>
    <div
      [ngClass]="{'has-success':form.controls.title.valid,'has-error':form.controls.title.dirty && form.controls.title.errors}">
      <input type="text" name="title" class="form-control" placeholder="*Blog title" autocomplete="off"
             formControlName="title">
      <ul class="help-block">
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">Required field</li>
        <li
          *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength)||(form.controls.title.dirty && form.controls.title.errors?.maxlength)">
          Must be between 5 and 50 characters
        </li>
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Contains only
          numbers or characters
        </li>
      </ul>
    </div>
    <!-- title -->

    <!--body -->
    <label for="body">body</label>
    <div
      [ngClass]="{'has-success':form.controls.body.valid,'has-error':form.controls.body.dirty && form.controls.body.errors}">
      <textarea name="body" class="form-control" placeholder="*Blog body" rows="8" cols="80"
                formControlName="body"></textarea>
      <ul class="help-block">
        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">Required field</li>
        <li
          *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength)||(form.controls.body.dirty && form.controls.body.errors?.maxlength)">
          Must be between 5 and 500 characters
        </li>
      </ul>
    </div>
    <!--body -->
    <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
    <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">Post</button>


  </div>
</form>

<!-- New Blog Form -->


<div *ngIf="!newPost">
  <div class="panel panel-primary"
       style="margin-top: 30px; border-style: solid; border-width:1px; padding: 20px;border-color: lightgray;">
    <div class="panel-heading">
      <h3>Post Title</h3>
    </div>
    <div class="panel-body">
      Lorem ipsum dolor sit amet, mollis scripta utroque ad nec, quis disputationi duo te. Ut facer causae
      necessitatibus vis, eu veri nemore torquatos vel, at per hinc facete. Propriae evertitur eum id, dolore graecis
      sadipscing ius eu. Te unum iracundia incorrupte vix, nec in oratio corpora.
    </div>


    <!--Footer-->


    <div class="panel-footer" style="background-color: whitesmoke; margin: -20px">
      <div style="padding: 20px; margin-top: 30px">
        <p><strong>Posted by: </strong>LoremName</p>
        <p><strong>Date: </strong>June 20, 2018</p>
        <div>
          <p><strong>Likes:</strong>25</p>
          <p><strong>Dislikes:</strong>22</p>

          <a href="#">
            <button type="button" name="button" class="btn btn-sm btn-info">Edit</button>
          </a>
          <a href="#">
            <button type="button" name="button" class="btn btn-sm btn-danger">Delete</button>
          </a>
          <!-- Dropdown Likes-->
          <div class="dropdown">
            <button type="button" name="buton" class="btn btn-sm btn-success">
              <span><i class="fas fa-thumbs-up"></i>&nbsp; Likes: 25</span>
            </button>
            <div class="dropdown-content">
              <a href="#">Medazouz</a>
              <a href="#">jen13</a>
            </div>

          </div>

          <!-- Dropdown Dislikes-->
          <div class="dropdown">
            <button type="button" name="buton" class="btn btn-sm btn-warning">
              <span><i class="fas fa-thumbs-up"></i>&nbsp; Dislikes: 22</span>
            </button>
            <div class="dropdown-content">
              <a href="#">Medazouz</a>
              <a href="#">jen13</a>
            </div>

          </div>

        </div>
        <br>

        <ul class="list-group">
          <li class="list-group-item">
            <button type="button" name="button" class="btn btn-sm btn-danger" (click)="draftComment()">Post comment
            </button>
            <br>
            <!--<form>-->
            <!--<textarea name="comment" rows="10" cols="30" class="form-control"></textarea>-->
            <!--<button type="button" class="btn btn-sm btn-info">Post Comment</button>-->
            <!--<button type="button" class="btn btn-sm btn-danger">Cancel</button>-->
            <!--</form>-->
          </li>
        </ul>

      </div>


    </div>
    <!-- -->

  </div>

</div>

